<!-- Replacing navbar-expand with navbar-expand-lg to make it expandable -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink=""><img src="{{logoSource}}" alt=""></a>
  
  <!-- The commented 'code below is for having a expansion button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Put the buttons in the below div to make it expandable -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home','login']">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home','signup']">SignUp</a>
      </li>
      
    </ul>
  
  </div>

  
    
 
</nav>