<div class="container-fluid loginBackground">
    <div class="row">
        <div class="col-lg-8 d-md-block d-sm-none d-none imageBox">

        </div>
        <div class="col-md-4 offset-lg-0 offset-md-4 offset-sm-4 offset-2 col-4">
            <div class="ml-auto loginAreaArrangement loginArea">
                <form class="customFormStyling " [formGroup]="loginDataForm" (ngSubmit)="login(loginDataForm.value)" autocomplete="off">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address or Username</label>
                        <input type="email" formControlName = "email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <div *ngFor="let validation of loginValidationMassages.email">
                            <div *ngIf="loginDataForm.get('email').dirty || loginDataForm.get('email').touched">
                                <div class="errorMassage" @errorInsertionAnimation *ngIf="loginDataForm.get('email').hasError(validation.type)">{{validation.massage}} </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
                        <div *ngFor="let validation of loginValidationMassages.password">
                            <div *ngIf="loginDataForm.get('password').dirty || loginDataForm.get('password').touched">
                                <div class="errorMassage" @errorInsertionAnimation *ngIf="loginDataForm.get('password').hasError(validation.type)">{{validation.massage}}</div>                            
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!loginDataForm.valid" class="btn btn-primary submit-login" >Login</button>
                    </div>
                    <hr class="customLineDivision">
                    <p class="signUpInfo">If you don't have a account,</p>
                    <button routerLink="/signup" class="btn btn-primary submit-login">SignUp</button>
                </form>
                
            
            </div>
        </div>
    </div>
</div>


