.sideNavStyling {
    z-index: 100 !important;
    height: 100%;
    position: fixed;
    top: 50px;
    width:220px;
    background-color: white;
    box-shadow: 6px -1px 15px rgba(55, 55, 55, 0.5);
    .nav {
        padding: 20px;        
    }
}